{% extends 'base.html' %}

{% load static %}


{% block conteudo %}
    
    <div class = "row mb-2" style = "width: 100%" >

        <div class= "col-md-2 col-12 text-danger mt-3 pl-4 pr-0" id = "check-b" >

            <form id = "culFilter" action = "" method = "GET">
                <select class = "form-select" name ="nome" aria-label>
                    <option class = "pais_opt" value = "">Todos</option>
                    {% for pais in filtro %}
                        <option class = "pais_opt" value="{{ pais.nome }}">
                            {{ pais.nome }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class = "col-md-10 col-12">

            <div class = "row">
            {% for receita in rec %}
                <div class = "col-md-6 col-12 my-2">
                    <div class = "card text-center border-primary" >
                        <div class = "card-header text-danger" style = "background-color: rgb( 255 , 255 , 255 )">
                            <h4>{{receita.nome}}</h4>
                            <h5 class = "cul" >{{receita.culinaria}}</h5>

                        </div>
                        <div class = "card-body pb-0">
                            <img src = "{%static 'images/receitas/' %}{{receita.thumb}}"
                            style = "width: 100%">
                            <p class = "text-justify-center mt-3">
                                {{receita.desc}}
                            </p>
                        </div>
                        <div class = "card-footer" style = "background-color: rgb( 255 , 255 , 255 )" >
                            <button type = "button" 
                            class = "btn"
                            style = "color :rgb(0, 50, 160) ; border-color: rgb(0, 50, 160)">
                                confira </button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    
{% endblock %}

{% block domready %};
    
    $( ".pais_opt" ).click( function(){

        let top = document.getElementById( "culFilter" );

        let data = $( top ).serializeArray();
        console.log( data );

        $( "h5.cul" ).each( function(){

            let card = $( this ).parent().parent();
            if ( $( this ).text() == data[0].value ){
                card.show();
            }else{
                card.hide();
            }

        })
    })

{% endblock %};